html {
    font-size: 0.83vw;
}
/*--------------HEADER---------------*/
.header {
    width: 100%;
    height: 100vh;

    background-image: url('../images/background-header.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

}

.header-nav {
    width: 67vw;
    margin: 0 auto;
    padding-top: 2.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav_logo {
    width: 15.1rem;
    height: 1.9rem;

    background-image: url('../images/logo.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.header-nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.header-nav_menu_item {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.69rem;

    color: rgba(0, 0, 0, 0.7);  
    text-decoration: none;
}

.header-nav_menu_item:hover {
    color: rgba(76, 76, 76, 0.7);
}
.header-nav_menu_search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.header-nav_menu_search_btn {
    border: none;
    background-color: transparent;

    width: 1rem;
    height: 1rem;

    background-image: url('../images/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    cursor: pointer;
}

#search {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    display: none;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 51vh;
}

.hero_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.125rem;
    line-height: 3.75rem;

    color: rgba(0, 0, 0, 0.7);
    width: 57.08vw;
}

.hero_text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.19rem;
    line-height: 2.5rem;
    
    color: rgba(0, 0, 0, 0.5);
    width: 54.4rem;
    padding-top: 0.81rem;
}

.hero_btn {
    border: none;
    width: 15rem;
    height: 3.19rem;
    background-color: #264A87;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.56rem;

    letter-spacing: 0.03em;

    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    cursor: pointer;
}

.hero_btn_arrow {
    width: 0.44rem;
    height: 0.69rem;
    margin-left: 40px;

    background-image: url('../images/arrow_btn.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
   
}









/*---------------MAIN-----------------------*/

.advanteges {
    padding-top: 7.125rem;
    padding-bottom: 8.81rem;
}

.advanteges_top {
    width: 68.80vw;
    border-bottom: 1px solid black;
    padding-bottom: 0.625rem;
    margin: 0 auto;
}

.advateges_title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.125rem;

    color: #000000;
}

.advateges_list {
    padding-top: 3.44rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.56rem;
}

.advanteges_item_image {
    width: 14.32vw;
    height: 14.32vw;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.advanteges_item_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.69rem;

    text-align: center;
    text-transform: uppercase;
    
    color: #264A87;
    
    opacity: 0.9;
    padding-top: 2rem;
}

.advanteges_item_image_quality {
    background-image: url('../images/advanteges/quality.svg');
}

.advanteges_item_image_deadlines {
    background-image: url('../images/advanteges/deadlines.svg');
}

.advanteges_item_image_approach {
    background-image: url('../images/advanteges/approach.svg');
}

.advanteges_item_image_professionals {
    background-image: url('../images/advanteges/professionals.svg');
}

.advanteges_item_image_experience {
    background-image: url('../images/advanteges/experience.svg');
}

.advanteges_item_image_geografy {
    background-image: url('../images/advanteges/geografy.svg');
}

.advanteges_item_image_tasks {
    background-image: url('../images/advanteges/tasks.svg');
}

.advanteges_item_image_sro {
    background-image: url('../images/advanteges/sro.svg');
}

.work {
    background-color: #264A87;
    padding-top: 2.97vw;
    padding-bottom: 2.97vw;
}

.work_top {
    width: 68.75vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.69rem;
    
    color: #FFFFFF;
}

.work_btn {
    border: none;
    background-color: transparent;
    user-select: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.56rem;

    color: #FFFFFF;

}

.work_btn_arrow {
    width: 2.5rem;
    height: 2.5rem;

    background-image: url('../images/arrow_btn_work.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.work_list {
    padding-top: 1.88rem;
    padding-left: 20.83vw;
    list-style-type: disc;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.275rem;
    line-height: 2.06rem;

    color: #FFFFFF;
}

.work_items {
    list-style-type: disc;
}
.projects {
    padding-top: 4.22vw;
    padding-bottom: 5.625vw;

}
.projects_top {
    width: 68.80vw;
    margin: 0 auto;
    padding-bottom: 1rem;
    margin-bottom: 3.625rem;

    border-bottom: 1px solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.projects_title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 2.125rem;
    
    color: #000000;
    
}

.projects_link {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.56rem;

    color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.projects_arrow {
    width: 2.5rem;
    height: 2.5rem;

    background-image: url('../images/arrow_projects.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.projects_boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.69rem;
}

.project_box {
    width: 21.875vw;
    height: 20vw;

    box-shadow: 5px 5px 5px rgb(228, 228, 228);
}

.project_box_picture {
    width: 100%;
    height: 13.80vw;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project_box_picture__building {
    background-image: url('../images/building.jpg');
}

.project_box_picture__map-1 {
    background-image: url('../images/map_1.jpg');
}

.project_box_picture__map-2 {
    background-image: url('../images/map_2.jpg');
}

.project_box_text {
    padding: 1rem 1.19rem 0px 1.19rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.31rem;
    line-height: 1.69rem;
    
    color: #000000;
}









/*-----------------FOOTER----------------------*/
.footer {
    padding-top: 5.36vw;
    padding-bottom: 7.6vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15.625vw;
    background-color: #264A87;

    position: relative;
}

.footer_left_logo {
    width: 17.69rem;
    height: 2.25rem;

    background-image: url('../images/footer-logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.footer_left_warning {
    padding-top: 5.94vw;
    width: 19.43vw;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;

    color: #FFFFFF;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.footer_menu_title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 207.9%;

    letter-spacing: 0.375rem;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
}

.footer_menu_items {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 222.75%;
    
    letter-spacing: 0.0625rem;
    
    color: #FCFCFC;
    text-decoration: none;
}

.footer_contects_title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 207.9%;

    letter-spacing: 0.325rem;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.footer_contects_email, .footer_contects_phone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
}

.footer_contects_email_text, .footer_contacts_phone_number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 163.35%;
    
    color: #FCFCFC;
    
}

.footer_contects_email_image {
    width: 1.25rem;
    height: 1rem;

    background-image: url('../images/email.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_contects_phone_image {
    width: 24px;
    height: 24px;

    background-image: url('../images/phone.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_year {
    position: absolute;
    right: 15.625vw;
    bottom: 6.77vw;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;

    text-align: right;

    color: #FFFFFF;
}
@media screen and (max-width: 1400px) {
    .header {
        background-size: cover;
    
    }
}