/*--------------HEADER---------------*/
.header {
    width: 100%;
    height: 100vh;

    background-image: url('../images/background-header.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

}

.header-nav {
    width: 1290px;
    margin: 0 auto;
    padding-top: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav_logo {
    width: 242px;
    height: 30px;

    background-image: url('../images/logo.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.header-nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.header-nav_menu_item {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: rgba(0, 0, 0, 0.7);  
    text-decoration: none;
}

.header-nav_menu_search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.header-nav_menu_search_btn {
    border: none;
    background-color: transparent;

    width: 16px;
    height: 16px;

    background-image: url('../images/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    cursor: pointer;
}

#search {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    display: none;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 51vh;
}

.hero_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;

    color: rgba(0, 0, 0, 0.7);
    width: 1096px;
}

.hero_text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    
    color: rgba(0, 0, 0, 0.5);
    width: 1045px;
    padding-top: 13px;
}

.hero_btn {
    border: none;
    width: 240px;
    height: 51px;
    background-color: #264A87;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    letter-spacing: 0.03em;

    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    cursor: pointer;
}

.hero_btn_arrow {
    width: 7px;
    height: 11px;
    margin-left: 40px;

    background-image: url('../images/arrow_btn.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
   
}









/*---------------MAIN-----------------------*/

.advanteges {
    padding-top: 114px;
    padding-bottom: 141px;
}

.advanteges_top {
    width: 1321px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin: 0 auto;
}

.advateges_title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 34px;

    color: #000000;
}

.advateges_list {
    padding-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 73px;
}

.advanteges_item_image {
    width: 275px;
    height: 275px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.advanteges_item_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 27px;

    text-align: center;
    text-transform: uppercase;
    
    color: #264A87;
    
    opacity: 0.9;
    padding-top: 32px;
}

.advanteges_item_image_quality {
    background-image: url('../images/advanteges/quality.svg');
}

.advanteges_item_image_deadlines {
    background-image: url('../images/advanteges/deadlines.svg');
}

.advanteges_item_image_approach {
    background-image: url('../images/advanteges/approach.svg');
}

.advanteges_item_image_professionals {
    background-image: url('../images/advanteges/professionals.svg');
}

.advanteges_item_image_experience {
    background-image: url('../images/advanteges/experience.svg');
}

.advanteges_item_image_geografy {
    background-image: url('../images/advanteges/geografy.svg');
}

.advanteges_item_image_tasks {
    background-image: url('../images/advanteges/tasks.svg');
}

.advanteges_item_image_sro {
    background-image: url('../images/advanteges/sro.svg');
}

.work {
    background-color: #264A87;
    padding-top: 57px;
    padding-bottom: 57px;
}

.work_top {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work_title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 27px;
    
    color: #FFFFFF;
}

.work_btn {
    border: none;
    background-color: transparent;
    user-select: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    color: #FFFFFF;

}

.work_btn_arrow {
    width: 40px;
    height: 40px;

    background-image: url('../images/arrow_btn_work.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.work_list {
    padding-top: 30px;
    padding-left: 400px;
    list-style-type: disc;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;

    color: #FFFFFF;
}
.projects {
    padding-top: 81px;
    padding-bottom: 108px;

}
.projects_top {
    width: 1321px;
    margin: 0 auto;
    padding-bottom: 15px;
    margin-bottom: 58px;

    border-bottom: 1px solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.projects_title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 34px;
    
    color: #000000;
    
}

.projects_link {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.projects_arrow {
    width: 40px;
    height: 40px;

    background-image: url('../images/arrow_projects.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.projects_boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.project_box {
    width: 420px;
    height: 379px;

    box-shadow: 5px 5px 5px rgb(228, 228, 228);
}

.project_box_picture {
    width: 100%;
    height: 265px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project_box_picture__building {
    background-image: url('../images/building.jpg');
}

.project_box_picture__map-1 {
    background-image: url('../images/map_1.jpg');
}

.project_box_picture__map-2 {
    background-image: url('../images/map_2.jpg');
}

.project_box_text {
    padding: 16px 19px 0px 19px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 27px;
    
    color: #000000;
}

.footer {
    padding-top: 103px;
    padding-bottom: 146px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 300px;
    background-color: #264A87;

    position: relative;
}

.footer_left_logo {
    width: 283px;
    height: 36px;

    background-image: url('../images/footer-logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.footer_left_warning {
    padding-top: 114px;
    width: 373px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;

    color: #FFFFFF;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer_menu_title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 207.9%;

    letter-spacing: 6px;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
}

.footer_menu_items {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 222.75%;
    
    letter-spacing: 1px;
    
    color: #FCFCFC;
    text-decoration: none;
}

.footer_contects_title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 207.9%;

    letter-spacing: 6px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.footer_contects_email, .footer_contects_phone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.footer_contects_email_text, .footer_contacts_phone_number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163.35%;
    
    color: #FCFCFC;
    
}

.footer_contects_email_image {
    width: 20px;
    height: 16px;

    background-image: url('../images/email.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_contects_phone_image {
    width: 24px;
    height: 24px;

    background-image: url('../images/phone.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_year {
    position: absolute;
    right: 300px;
    bottom: 130px;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;

    text-align: right;

    color: #FFFFFF;
}